## 1. Selecting Multiple Columns

In [1]:
import numpy as np
import pandas as pd

In [6]:
movie = pd.read_csv('data\movies.csv')
#separate cols variable for readability
cols = ['actor_1_name','actor_2_name','actor_3_name','director_name']
movie_actor_director = movie[cols]
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

## 2. Selecting Columns with Methods

In [9]:
movie = pd.read_csv('section01 - pandas foundations/data/movies.csv', index_col='movie_title')
movie.get_dtype_counts()

float64    13
int64       3
object     11
dtype: int64

In [10]:
movie.select_dtypes(['integer']).head()

,num_voted_users,cast_total_facebook_likes,movie_facebook_likes
movie_title,,,
Avatar,886204,4834,33000
Pirates of the Caribbean: At World's End,471220,48350,0
Spectre,275868,11700,85000
The Dark Knight Rises,1144337,106759,164000
Star Wars: Episode VII - The Force Awakens,8,143,0

In [11]:
#the filter selects all the column names that have anything like 'facebook' in their name
movie.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
movie_title,,,,,,
Avatar,0.0,855.0,1000.0,4834,936.0,33000
Pirates of the Caribbean: At World's End,563.0,1000.0,40000.0,48350,5000.0,0
Spectre,0.0,161.0,11000.0,11700,393.0,85000
The Dark Knight Rises,22000.0,23000.0,27000.0,106759,23000.0,164000
Star Wars: Episode VII - The Force Awakens,131.0,NaN,131.0,143,12.0,0

In [13]:
#the following filter applies the regex function on all the column names
#this regex takes all columns that have 0-9 in their column names
movie.filter(regex='\d').head()

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
movie_title,,,,,,
Avatar,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
Pirates of the Caribbean: At World's End,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
Spectre,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
The Dark Knight Rises,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
Star Wars: Episode VII - The Force Awakens,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [15]:
#the following filter is just like the index operator to select multiple columns, 
#however, unlike the index operator, this filter does not raise an error if any col in items does not exist
movie.filter(items=['director_facebook_likes','asdf']).head()

                                                    director_facebook_likes
movie_title
Avatar                                                                  0.0
Pirates of the Caribbean: At World's End                              563.0
Spectre                                                                 0.0
The Dark Knight Rises                                               22000.0
Star Wars: Episode VII - The Force Awakens     ...                    131.0

## 3. Ordering Columns Sensibly

In [16]:
movie = pd.read_csv('section01 - pandas foundations\data\movies.csv')
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [17]:
#sorting columns into meaningful groups of discrete and continuous values
disc_core = ['movie_title', 'title_year', 'content_rating', 'genres']
disc_people = ['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name']
disc_other = ['color', 'country', 'language', 'plot_keywords', 'movie_imdb_link']
cont_fb = ['director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes',
           'cast_total_facebook_likes', 'movie_facebook_likes']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_critic_for_reviews', 'num_voted_users', 'num_user_for_reviews']
cont_other = ['imdb_score', 'duration', 'aspect_ratio', 'facenumber_in_poster']

In [18]:
cols_ordered = disc_core + disc_people + disc_other + cont_fb + cont_finance + cont_num_reviews + cont_other
#to check if we haven't missed out any columns
set(movie.columns) == set(cols_ordered)

True

In [19]:
movie2 = movie[cols_ordered]
movie2.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_facebook_likes,budget,gross,num_critic_for_reviews,num_voted_users,num_user_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,723.0,886204,3054.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,302.0,471220,1238.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,602.0,275868,994.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,813.0,1144337,2701.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,NaN,8,NaN,7.1,NaN,NaN,0.0

In [26]:
#just refreshing some stuff from section01
movie2.set_index('movie_title', drop=False).head(2)

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_facebook_likes,budget,gross,num_critic_for_reviews,num_voted_users,num_user_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,723.0,886204,3054.0,7.9,178.0,1.78,0.0
Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,302.0,471220,1238.0,7.1,169.0,2.35,0.0

## 4. Operating on the Entire DataFrame

In [31]:
movie = pd.read_csv('section01 - pandas foundations/data/movies.csv')

In [34]:
movie.shape, movie.size, movie.ndim, len(movie)

((5043, 28), 141204, 2, 5043)

In [38]:
#get the number of non missing values in each column of the dataframe, 
#where the index is the column name
movie.count()

color                        5024
director_name                4939
num_critic_for_reviews       4993
duration                     5028
director_facebook_likes      4939
actor_3_facebook_likes       5020
actor_2_name                 5030
actor_1_facebook_likes       5036
gross                        4159
genres                       5043
actor_1_name                 5036
movie_title                  5043
num_voted_users              5043
cast_total_facebook_likes    5043
actor_3_name                 5020
facenumber_in_poster         5030
plot_keywords                4890
movie_imdb_link              5043
num_user_for_reviews         5022
language                     5031
country                      5038
content_rating               4740
budget                       4551
title_year                   4935
actor_2_facebook_likes       5030
imdb_score                   5043
aspect_ratio                 4714
movie_facebook_likes         5043
dtype: int64

In [39]:
#applying simple stats methods like min(), max(), mean(), etc. returns similar Series
"""
however the object dtype columns are removed in the resulting series,
since those columns have missing values. 
And pandas does not know how to compare missing values with string values
and silently drops the columns wherein such comparisons arise
"""
movie.min()

num_critic_for_reviews          1.00
duration                        7.00
director_facebook_likes         0.00
actor_3_facebook_likes          0.00
actor_1_facebook_likes          0.00
gross                         162.00
num_voted_users                 5.00
cast_total_facebook_likes       0.00
facenumber_in_poster            0.00
num_user_for_reviews            1.00
budget                        218.00
title_year                   1916.00
actor_2_facebook_likes          0.00
imdb_score                      1.60
aspect_ratio                    1.18
movie_facebook_likes            0.00
dtype: float64

In [42]:
#percentile=0.5 is always included in describe irrespective of what values are specified in percentile
movie.describe(percentiles = [0.01, 0.33, 0.66, 0.99])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
1%,2.000000,43.000000,0.000000,0.000000,7.000000,8.497800e+03,5.426000e+01,6.420000,0.000000,1.210000,6.000000e+04,1951.340000,0.000000,3.100000,1.330000,0.000000
33%,67.000000,97.000000,14.540000,204.000000,755.000000,1.056140e+07,1.460976e+04,1915.740000,0.000000,90.930000,1.000000e+07,2001.000000,396.570000,6.100000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
66%,159.000000,111.000000,120.080000,535.000000,3000.000000,4.480482e+07,6.727556e+04,6213.440000,1.000000,249.000000,3.200000e+07,2009.000000,812.000000,7.000000,2.350000,747.720000
99%,548.080000,189.000000,16000.000000,11000.000000,44000.000000,3.335736e+08,6.810943e+05,63027.240000,8.000000,2010.110000,2.035000e+08,2016.000000,17000.000000,8.500000,4.000000,94580.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## 5. Chaining DataFrame methods together

In [45]:
#simply calling isnull() on the df returns a df where dtype of every column=boolean
movie.isnull().head() 
#returning the dtypes of cols present in the returned df and the counts of each dtype
movie.isnull().get_dtype_counts()

bool    28
dtype: int64

In [53]:
#counting the missing values of each column
movie.isnull().sum().head(3)

color                      19
director_name             104
num_critic_for_reviews     50
dtype: int64

In [48]:
#get a count of all the missing values in the entire dataframe
movie.isnull().sum().sum()

2698

In [54]:
#alternatively we could ask the df if there are any missing values
#using any() once, would ask each column and return a series, instead of a single boolean value (as in the following command)
movie.isnull().any().any()

True