## 1. Selecting Series Data

In [2]:
import numpy as np 
import pandas as pd

In [7]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head(3)

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370

In [8]:
city = college['CITY']
city.head()

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [11]:
#iloc selects location using integer.
city.iloc[3] #returns a string

str

In [13]:
city.iloc[[0,1,2]] #returns a series

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
Name: CITY, dtype: object

In [14]:
#selecting a subset of values with the slice notation
city.iloc[4:50:10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

In [17]:
#loc selections location using labels/strings.
city.loc['Alabama State University']

'Montgomery'

In [18]:
np.random.seed(1)
labels = list(np.random.choice(city.index, 4))
labels

['Northwest HVAC/R Training Center',
 'California State University-Dominguez Hills',
 'Lower Columbia College',
 'Southwest Acupuncture College-Boulder']

In [19]:
#selection with loc indexer always includes the last element
city.loc['Alabama State University':'Reid State Technical College':10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

## 2. Selecting DF Rows

In [28]:
college.iloc[[60, 99, 3]] 
#the same can be done with loc, but instead we pass the college names

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

In [30]:
#slice notation using iloc on a DF. Notice that 
college.iloc[201:204]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
American Film Institute Conservatory,Los Angeles,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
American Beauty College,West Covina,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,97.0,...,0.0103,0.0,0.0000,0.567,1,0.8200,0.5400,0.1333,PrivacySuppressed,4749
American Career College-Los Angeles,Los Angeles,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,1613.0,...,0.0632,0.0,0.0118,0.000,1,0.7371,0.6497,0.4017,29500,9500

In [33]:
#also you can generate the labels for loc without having to copy and paste
college.iloc[[99, 20, 6]].index.tolist()

['International Academy of Hair Design',
 'George C Wallace State Community College-Hanceville',
 'Central Alabama Community College']

## 3. Selecting DF Rows and Columns simultaneously

In [ ]:
#this is the basic format for iloc and loc
"""
df.iloc[rows, columns]
here rows/cols can be (: (all)),(slice of rows/cols),(list of rows/cols - contiguous and otherwise), 
                      (variables containing list of integers for rows and cols)

df.loc[rows, columns]
here rows/cols can be the same options as iloc, but using labels/strings instead of integers.
"""

In [43]:
#selecting a slice of rows and a single column
college.iloc[90:80:-2, 5]
#without specifying the step size, you would get an empty df as output

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

In [55]:
#replicating above result with loc
#stop uses the value at 81, since loc would include the value at 80 as well(being "end inclusive")
start = college.iloc[90].name
stop = college.iloc[81].name
college.loc[start:stop:-2, 'RELAFFIL']

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

## 4. Selecting Data with both Integers and Labels

In [57]:
#this could be done previously through ix indexer,
#but has since been deprecated due to the confusion surrounding it
col_start = college.columns.get_loc('UGDS_WHITE')
col_stop = college.columns.get_loc('UGDS_UNKN') + 1
col_start, col_stop

#get_loc takes an index label and returns its integer location

(10, 19)

In [58]:
college.iloc[:5, col_start:col_stop]

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [59]:
#index[i] returns the label of the college at row i
row_start = college.index[10]
row_end = college.index[15]
college.loc[row_start:row_end, 'UGDS_WHITE':'UGDS_UNKN']

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

In [60]:
#you COULD chain loc and iloc, but its generally a bad idea( i dont know why! )
college.iloc[10:16].loc[:, 'UGDS_WHITE':'UGDS_UNKN']
#this replicates the result obtained above

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

## 5. Speeding Up Scalar Selection

In [69]:
#valuable if computation is time is of utmost importance
"""
improved speeds with .iat and .at in comparison to 
.iloc and .loc in the context of scalar selection
"""

#lets time loc and at
%timeit college.loc['Texas A & M University-College Station', 'UGDS_WHITE']

10000 loops, best of 3: 48.2 Âµs per loop

In [70]:
#same result with at
%timeit college.at['Texas A & M University-College Station', 'UGDS_WHITE']

10000 loops, best of 3: 37.5 Âµs per loop

In [74]:
row_num = college.index.get_loc('Texas A & M University-College Station')
col_num = college.columns.get_loc('UGDS_WHITE')

In [77]:
%timeit college.iloc[row_num, col_num]

10000 loops, best of 3: 58.8 Âµs per loop

In [78]:
%timeit college.iat[row_num, col_num]

10000 loops, best of 3: 42.8 Âµs per loop

## 6. Slicing Rows Lazily

In [ ]:
#using indexing operator to lazily select rows. Its better to use iloc and loc to remain unambiguous
#df[start:[stop]:[step]]

## 7. Slicing Rows Lexicographically

In [82]:
"""
loc lets you select all rows with an index lexicographically. 
Such a selection uses slice notation and works only if the index is sorted.
This is because the default behaviour of loc is select rows based on exact labels.
This behaviour is modified once the index col is sorted.
"""

college_sorted = college.sort_index()
college_sorted.head(3)

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
A & W Healthcare Educators,New Orleans,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,40.0,...,0.0,0.0,0.0,0.125,1,0.7018,0.8596,0.6667,NaN,19022.5
A T Still University of Health Sciences,Kirksville,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,219800,PrivacySuppressed
ABC Beauty Academy,Garland,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,30.0,...,0.0,0.0,0.0,0.000,0,0.7857,0.0000,0.8286,NaN,PrivacySuppressed

In [84]:
#lets choose all colleges that lexicographically occur between Sp and Su,(aka, passing the slice)
#notice that we don't have to pass in exact label names now...
college_sorted.loc['Sp':'Su'].head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Spa Tech Institute-Ipswich,Ipswich,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,37.0,...,0.0000,0.0000,0.0541,0.4054,1,0.2656,0.3906,0.7907,21500,6333
Spa Tech Institute-Plymouth,Plymouth,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,153.0,...,0.0000,0.0000,0.2484,0.3399,1,0.3716,0.4266,0.6250,21500,6333
Spa Tech Institute-Westboro,Westboro,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,90.0,...,0.0000,0.0000,0.0222,0.5778,1,0.3409,0.4545,0.6882,21500,6333
Spa Tech Institute-Westbrook,Westbrook,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,240.0,...,0.0000,0.0000,0.0042,0.2542,1,0.4350,0.5093,0.5224,21500,6333
Spalding University,Louisville,KY,0.0,0.0,0.0,1,490.0,440.0,0.0,1227.0,...,0.0302,0.0016,0.0326,0.2502,1,0.4442,0.6725,0.3764,41700,25000